h1 {
    text-align:center;
    font-size: 20px;
}
   
table {
    border-collapse: collapse;  
    width: 70%;  
    align-content: center;  
    text-align: center;
    margin-left: 15%;
}
  
th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}
  
tr:nth-child(even) { 
    background-color: #f2f2f2;
}
     
#formContact {  
    display: block;
    border: 3px solid #467987;
    border-radius: 6px;
    background: #a8d4df;
    width: 45%;
    padding: 20px;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
}
     
#nameButton {  
    background-color: Transparent; 
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;  
    overflow: hidden;
    outline:none;
}
     
#phoneButton {
    background-color: Transparent;  
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    outline:none;
}  
  
#error {
    text-align: center; 
    margin: 5%;
    display: none;
}    

#noResult {  
    text-align: center;  
    margin: 5%;
    display: none;
}    

.contactPanel {  
    padding:1em;
    margin:auto;
    max-width:70%;
    text-align: center;
}