.my-grid {
    display: flex;
    flex-wrap: wrap;
}

.my-div {
    flex-grow: 0.25;
    border: 1px solid black;
    text-align: center;
}

@media (max-width: 960px) {
    .my-div {
        width: calc(50% - 2px)
    }
}

@media (max-width: 640px) {
    .my-div {
        width: calc(100% - 2px)
    }
}
